html {
  font-size: 14px;
  
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}



@font-face {
    font-family: 'MyCustomFont1';
    src: url('/fonts/pabasing.otf') format('opentype');
}
.myname1 {
    color: #0d6efd;
    font-size: 2.3rem;
    text-decoration: underline;
    text-decoration-color: #0d6efd;
}
.navbar-brand {
    font-family: 'MyCustomFont1', sans-serif;
    font-size: 2.3rem;
    margin: 0px 50px -5px 20px;
}
.profile-card {
    width: 255px;
    background: white;
    border-radius: 10px;
    margin-left: 24px;
    font-family: Arial;
    border: solid 1px #e9e5df;
    box-shadow: rgba(226, 227, 228, 0.5) 1px 1px;
    margin-bottom: 20px;
}

.githeader {
    background: #e9e5df;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    width:255px;
    padding: 6px 14px;
}


.logo {
    font-size: 18px;
    font-weight: bold;
    color: #24292e;
}

.card-body {
    padding: 20px;
}

.avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-card h3 {
    margin: 5px 0;
}

.bio {
    font-size: 14px;
    line-height: 1.4;
}

.college {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

.profile-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 4px 18px;
    border: 1px solid #0a66c2;
    border-radius: 25px;
    text-decoration: none;
    color: #0a66c2;
    font-weight: bold;
}

    .profile-btn:hover {
        background: #d4e9fd;
        border:2px solid #0a66c2;
    }
    
   

    .projects {
        background-color: #f8f9fa;
        border-radius:20px;
        
    }



.linkgit {
    width: 310px;
    border-radius: 20px;
    float: left;
    margin-top:-20px;
   
    
}

.hmabout {
    width: 57.3%;
    margin-top: 0px;
    float: left;
    background-color: #f8f9fa;
    border-radius: 20px;
    padding: 20px;
    margin-bottom:200px;
    
}
.linkframe {
    display: block;
    margin-bottom:100px;
    width: 360px;
    height: 700px;
    margin:auto;
    border-radius:10px;
   
    
}
.profpic{
    border-radius:10px;
    float:right;
    margin:10px;
    display:none;
    
    
}

@media (max-width:661px) {
    
    .profpic{
        display:inline;
    }
    
}
.social-icons {
    display: flex;
    gap: 20px; /* space between icons */
    font-size: 30px;
    justify-content:center;
}

    .social-icons a {
        color: black;
        text-decoration: none;

    }

        .social-icons a:hover {
            color: #0077b5; /* optional hover effect */
        }

.refers a {
    display: flex;
    gap: 20px; /* space between icons */
    font-size: 30px;
    justify-content: center;
    text-decoration:none;
}

.project-card {
    margin-bottom: 40px;
}

.project-img {
    width: 100%;
    max-width: 500px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin-bottom: 15px;
}

