@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section id="home" class="bg-light text-center p-5 rounded-2">
    <h1>Hello, I'm <span class="myname1">Sarang Masal</span></h1>
    <p class="lead">Robotics | Embedded Systems | Cybersecurity | Webdev</p>
    <a href="https://drive.google.com/file/d/1x3H4OfrV8XLG2FfG6M7uw4iGTL98rfeZ/view?usp=drive_link" class="btn btn-primary">Download Resume</a>

</section>

@section hmabout{
    <h3><b style="color:#0d6efd">Personal Introduction</b></h3>
         <br />
         <hr />
         <img src="/images/profilepic.jpg" width=160rem height=168rem class="profpic" /> 
         <p>Hello! I’m <b style="color:#0d6efd">Sarang Masal</b> a passionate engineering student currently in Mumbai ,
             deeply interested in building innovative solutions at the intersection of hardware and software. Currently pursuing my academic journey in technology,
             I am focused on areas like <b style="color:#0d6efd">robotics</b> ,<b style="color:#0d6efd">embedded systems</b> ,<b style="color:#0d6efd">VLSI</b> ,<b style="color:#0d6efd">cybersecurity</b> and data-driven applications.
<br /><br />
I have hands-on experience working with platforms like ESP32 ,STM32 and Raspberry Pi, where I’ve built projects such as a 4x4x4 LED cube,<b style="color:#0d6efd">4 DOF robotic arm</b> and explored concepts like <b style="color:#0d6efd">active noise cancellation</b>, <b style="color:#0d6efd">post quantum secruity</b> analysis etc. Alongside this, I am expanding my skill set in programming and software development through <b style="color:#0d6efd">Java</b> ,<b style="color:#0d6efd">C++</b> ,<b style="color:#0d6efd">python</b> ,<b style="color:#0d6efd">sql</b> ,<b style="color:#0d6efd">R</b> and exploring frameworks like <b style="color:#0d6efd">Flask</b> ,Kotlin ,<b style="color:#0d6efd">ASP.NET</b> ,<b style="color:#0d6efd">Razor</b> and many more.
<br /><br />
Beyond academics, I actively work on projects that solve real-world problems, such as developing smarter camera applications and experimenting with AI-driven automation tools. I enjoy taking ideas from concept to implementation, constantly learning and adapting along the way.
<br /><br />
I am always looking for opportunities that challenge me to grow as an engineer, enhance my technical expertise, and contribute to meaningful, impactful innovations.</p>
<br />
<h3><b style="color:#0d6efd">Education</b></h3>
         <br />
         
         <h5><b style="color:#0d6efd">Coast Guard Public School,Daman </b></h5>
         <hr />
         <br />
         <p>This is the place where i completed my 12th grade and where most of my curiosity blossomed, a very calm yet exciting place for me ,
             cause we used to have a particular subject called Design & Technology, where we were given toys similar to legos ,
             which we used to use to make all sorts, of stuff ,like bridges, dc-motor cars ,excavators etc.This is also the place which taught me most of my coding skills ,
             i learnt to code in python and could build website templates at 9th grade(does not necessarily mean i am the best at).It also taught me the sql skills which proven effective for my btech. degree </p>
         <h6><b >Skills learnt:-</b></h6>
         <p> Html | Css | python | MYSQL </p>
         <br /><br />
         
         <h5><b style="color:#0d6efd">IIT,Guwahati</b></h5>
         <h6>-BSc. Data Science and Artificial Intelligence</h6>
         <hr />
         <br />
         <p>Altough,its been real troublesome to manage two degrees at once, i don't regret doing this degree, cause i got a lot of industry exposure from this course.</p>
         <h6><b >Skills learnt:-</b></h6>
         <p> R | Algorithm Design | JAVA | Statistical Inferencing </p>
         <br /><br />
         
         <h5><b style="color:#0d6efd">Vidyalankar Insitute of Technology,Mumbai</b></h5>
         <h6>-BTech. Electronics and Computer Science</h6>
         <hr />
         <br />
         <p>This is where i ponder around most of my time,tinkering with projects,assignments and hackathons.
             Growing up in Daman ,to my irony i found out mumbai to be a little less research/tech centric and more
             competetive i guess that's what travelling through locals on a regular basis does to a person.
             Mumbai has taught me a lot about the importance of time, and the competitive nature around me has refined me,
             to such a extent that trusting someone feels like a crime. </p>
         <h6><b >Skills learnt:-</b></h6>
         <p> C++ | Autocad | Kicad | Postgresql | Bootstrap | Matlab </p>
       
}





